
body {
    background-color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 90%;
    margin: auto;
}

/* PADR�O */

h2 {
    font-size: 2rem;
    text-align: center;
}

h3 {
    font-size: 1.5rem;
}

.folha-info {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
}

.folha-info-dados p {
    background-color: white;
    padding: 0 0 0 1rem;
    width: 13rem;
    font-size: 0.906rem;
    line-height: 1.3rem;
}

/* DADOS DA EMPRESA */
.dados-empresa-cont_info {
    background-color: #dedce0;
    height: 10rem;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    align-items: center;
    justify-content: flex-start;
}

.dados-empresa-cont_info-dados p {
    background-color: white;
    line-height: 1.3rem;
    font-size: 0.906rem;
    width: 40rem;
    padding: 0 0 0 1rem;
}

/* INFORMA��ES DA FOLHA - INFO */

.dados-folha-tab {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1rem;
    background-color: #dedce0;
    padding: 1rem;
}

.dados-folha-tab-inf {
    width: 60%;
    border-right: 1px solid black;
}

.dados-folha-tab-tot {
    width: 40%;
}

.dados-folha-tab_prov-dados p {
    width: 20rem;
}

.dados-folha-tab_info-dados p {
    width: 21rem;
}

.dados-folha-tab_info, .dados-folha-tab_prov {
    border-bottom: 1px solid black;
}

/* INFORMA��ES DA FOLHA - TOTAIS */

.dados-folha-tab-tot {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 5rem;
}

.dados-folha-tab-tot_info {
    display: flex;
    flex-direction: row;
}
