body {
    background-color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 60%;
    margin: auto;
}

/* PADR�O */
.button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #7c639c;
    border-radius: 0.5rem;
}

    .button a {
        font-size: 1.3rem;
        color: white;
        text-decoration: none;
        margin-left: 1rem;
    }

    .button button {
        background-color: white;
        border: 1px solid #7c639c;
        border-radius: 0.5rem;
        padding: 0px;
    }

/* CABE�ALHO */

.home-head {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 1rem;
}

.home-head-links a {
    text-decoration: none;
    color: #839DEB;
}

.home-head-perfil {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.home-head-perfil_img {
    width: 8rem;
    height: 8rem;
}

.home-head-perfil_button {
    width: 8rem;
    height: 2rem;
}

    .home-head-perfil_button a {
        margin-left: 1rem;
    }

.home-head-perfil_arrow {
    width: 2rem;
    height: 2rem;
}

    .home-head-perfil_arrow img {
        width: 90%;
        margin-top: 0.094rem;
    }

/* CORPO */

.home-body {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.home-box {
    background-color: #dedce0;
    border-radius: 0.5rem;
    padding: 1rem;
    width: 25rem;
    height: 25rem;
}

.home-box .button {
    height: 5rem;
}

.home-box .button a {
    font-size: 1.7rem;
}

.home-box .button button {
    height: 5rem;
    width: 5rem;
}

.home-box .button button img {
    height: 3rem;
    width: 3rem;
}

.home-body-folha {
    border-top: 2px solid #953ac0;
    border-right: 1px solid #953ac0;
    padding: 2.5rem;
}

.home-body-hist {
    border-bottom: 2px solid #953ac0;
    border-left: 1px solid #953ac0;
    padding: 2.5rem;
}
