@{
    Layout = null;

    string mensagemEmailInvalido = null;

    if (ViewBag.ConfirmacaoEmail == false)
    {
        mensagemEmailInvalido = "E-mail utilizado não existe na base de dados";
    }

    if(ViewBag.ConfirmacaoEmail == true)
    {
        ViewBag.MensagemEmailValido = "Link enviado com sucesso, cheque seu e-mail e redefina sua senha.";
        mensagemEmailInvalido = null;
    }
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/style.css")
    <title>SOLICITAR ALTERAÇÃO DA SENHA</title>

</head>
<body>
    <div class="conteiner">

        <!--parte esquerda da tela-->
        <section id="left">
            <h1>Mensagem:</h1><br>
            <h2> @ViewBag.MensagemEmailValido</h2>
        </section>

        <!--parte direita da tela-->
        <div class="card">
            <section id="right">
                <form id="form" method="post" action="VerificacaoEmail">

                    <h2>solicitar alteração da senha</h2><br>

                    <input type="text" id="email" name="email" placeholder="EMAIL" value="@ViewBag.EmailUsado">
                    <p style="color:red">@mensagemEmailInvalido</p>

                    <br><button type="submit" id="btn" >ENVIAR</button>
                </form>

            </section>
        </div>
    </div>

</body>
</html>
